name: Terraform Module Release

on:
  workflow_dispatch:
    inputs:
      part:
        description: 'Which part to bump (major, minor, patch)'
        required: true
        default: 'patch'
  push:
    branches:
      - main

permissions:
  contents: write  # Allow pushing tags/commits
  pages: write
  id-token: write

jobs:
  bump-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # required for pushing tags

      - name: Automated Version Bump
        id: version-bump
        uses: phips28/gh-action-bump-version@v9
        with:
          tag-prefix: 'v'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Output new tag
        run: echo "New tag: ${{ steps.version-bump.outputs.new_tag }}"

      - name: Push changes & tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git push origin main --follow-tags
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version-bump.outputs.new_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
